.sticky {
    position: sticky;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100vh;
}

section.texto {
    display: flex;
    align-items: center;
}

section .tv img {
    width: 600px;
    margin-bottom: 150px;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 30px;
}

article p {
    font-size: 30px;
    padding: 10px;
}

.seta {
    font-size: 90px;
    margin-top: 600px;
}
article .first-line {
    background: #404605;
    width: 546px;
    padding: 10px;
    margin: 10px;
}

article .second-line {
    background: #404605;
    width: 477px;
    padding: 10px;
    margin: 5px;
}

article .third-line {
    background: #404605;
    width: 55px;
    padding: 10px;
    margin: 5px;
}

article .forth-line {
    background: #404605;
    width: 395px;
    padding: 10px;
    margin: 5px;
}

article .fifth-line {
    background: #404605;
    width: 40px;
    padding: 10px;
    margin: 5px;
}

article .sixth-line {
    background: #404605;
    width: 200px;
    padding: 10px;
    margin: 5px;
}

article .seventh-line {
    background: #404605;
    width: 125px;
    padding: 10px;
    margin: 5px;
}

article .eighth-line {
    background: #404605;
    width: 479px;
    padding: 10px;
    margin: 5px;
}

article .ninth-line {
    background: #404605;
    width: 60px;
    padding: 10px;
    margin: 5px;
}

article .tenth-line {
    background: #404605;
    width: 362px;
    padding: 10px;
    margin: 5px;
}

article .first-paragraph {
    display: flex;
    align-items: center;
}

article .second-paragraph {
    display: flex;
    align-items: center;
}

article .third-paragraph {
    display: flex;
    align-items: center;
}

article .forth-paragraph {
    display: flex;
    align-items: center;
}

article .fifth-paragraph {
    display: flex;
    align-items: center;
}

section.contact {
    justify-content: center;
    background: var(--primary-color);
    height: 100vh;
    min-height: 100vh;
    border-radius: 50px;
    width: 100%;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

form label {
    color: var(--base-color);
    font-size: 20px;;
}

form input{
    display: flex;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 500px;
    background: var(--base-color);
}

form textarea {
    display: flex;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    width: 500px;
    background: var(--base-color);
}

button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    width: 250px;
    background: var(--base-color);
}

button:hover {
    color: var(--base-color);
    border: 2px var(--base-color) solid;
    background: var(--primary-color);
}